<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FreshCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B31D3161E61B06C00FE9946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B31D32C1E61B06C00FE9946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B31D3371E61B06C00FE9946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
